<h2>Date Picker</h2>

From:
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="dateFrom" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>

  To:
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="dateTo">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 ></mat-datepicker>
  </mat-form-field>
<div>
    <button (click)="set()">Set</button>
    <button (click)="clear()">Clear</button>
</div>
